/*--YT Theme--*/


@-moz-document domain("youtube.com") {

body {
  
}

ytd-app {
background-image: url("site-icons/sakura.png") !important;
background-repeat: no-repeat !important;
background-position: center !important;
background-size: cover !important;
background-attachment: fixed !important;
}

/*--side bar--*/
#container.style-scope.ytd-searchbox{
  background-color: transparent !important;
  filter: saturate(140%) !important;
  backdrop-filter: blur(20px) !important;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
  border: 0px !important;
}

#search-icon-legacy {
  border: 0px !important;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
}

#guide-content.ytd-app{
  background-color: transparent !important;
  filter: saturate(140%) !important;
  backdrop-filter: blur(20px) !important;
  border-radius: 10px !important;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
}

#background, #chips-wrapper.style-scope.ytd-feed-filter-chip-bar-renderer, #contentContainer {
  background-color: transparent !important;
}


#content.style-scope.ytd-rich-item-renderer, #dismissible.style-scope.ytd-compact-video-renderer, #description, #sections.style-scope.ytd-comments {
  background-color: rgba(0,0,0,0.3) !important;
  filter: saturate(140%) !important;
  border-radius: 10px !important;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
}

#description, #sections.style-scope.ytd-comments {
  background-color: rgba(0,0,0,0.3) !important;
  filter: saturate(140%) !important;
  border-radius: 10px !important;
  padding: 5px 20px !important;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%) !important;
}


--ytd-searchbox-background: rgba(0,0,0,0.2) !important;

.style-scope.ytd-video-meta-block {
  color: #fff !important;
}

/*--notification popups--*/
.style-scope.ytd-popup-container {
  background-color: rgba(20,20,20,0.7) !important;
  filter: saturate(140%) !important;
  backdrop-filter: blur(33px);
  border-radius: 10px !important;
}

.ytd-multi-page-menu-renderer {
  background-color: rgba(20,20,20,0.7) !important;
  filter: saturate(140%) !important;
  backdrop-filter: blur(33px);
}

/*--search bar popup--*/
html[dark] .sbsb_a {
  background: var(--yt-spec-raised-background);
  background-color: rgba(20,20,20,0.7) !important;
  filter: saturate(140%) !important;
  backdrop-filter: blur(33px);
  border-radius: 10px !important;
}

/*--video player, context menu--*/
.ytp-popup.ytp-contextmenu { border-radius: 10px !important; }


/* Youtube logo red to blue */
/*
.yt-spec-icon-shape path[fill="#FF0000"] 
{fill: #4291d7 !important;}
*/

/*SEEKBAR COLOR*/
/*
.ytp-swatch-background-color { background-color: #fffd80 !important; }
*/

/*--notifications badge color now yellow--*/

.yt-spec-icon-badge-shape--type-notification .yt-spec-icon-badge-shape__badge {
    background-color: #fffd80 !important;
    color: #2b2b2b !important;
} .yt-spec-icon-badge-shape--style-overlay .yt-spec-icon-badge-shape__badge {
    border: 0px solid rgba(0,0,0,0.8) !important;
}

/*--live video indicator under thumbnails color--*/

.badge-style-type-live-now-alternate.ytd-badge-supported-renderer {
    background: rgba(92, 198, 223, 0.9) !important;
    color: var(--yt-spec-static-brand-white) !important;
}

}
